<%- include("header"); -%>
<br><br>
<h2 style="text-align:center">List of existing users:</h2>
<br><br>
<table class="userTable">


    <ul>
      <% array.forEach(function(item){ %>

        <tr>

            <td> <b> <li class="username"><%=item.username%></li> </b> </td>
            <td>


              
              <a href="/chat/<%= item.username %>"> <button type="button" class="btn btn-outline-warning">Message</button></a>
            </td>
            <td><button type="submit" class="username btn btn-warning" name="button">Add to favourites</button></td>

        </tr>

      <% }); %>

    </ul>

















</table>


<%- include("footer"); -%>
